

<%- include("header") -%> 
<%- include("navbar") -%> 

<div class="topc">
    <h1 class="top-cur">Top Current NEWS Article To Read</h1>
</div>

    <div class="news-container ">
        <div class="news ">
            

            <% articles.forEach(function(article,index){ %>

                <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                    <% } else{ %>
                        <a href="<%= article.url %>" target="_blank" class="news-box Hover-effect">

                            <img class="news-img" src="<%= article.urlToImage %>" alt="Image">
                            <h3 class="articles-title">
                                <%- article.title %>
                            </h3>


                            <p>
                                <%= article.content.replace(/<[^>]+>/g, '') %>
                            </p>
                            <br>
                           <p> <p class="updated-on">updated On:</p>  <%- new Date(article.publishedAt.slice(0,10)).toDateString() %> </p>


                        </a>
                        <% } %>
                        <% }) %>
        </div>
    </div>

<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<%- include("footer") -%> 